# Web Scraping with Pandas

Pandas is a powerful library for data manipulation and analysis. It provides data structures like Series and DataFrame that make it easy to work with structured data. In this notebook, we will see how to use Pandas to scrape data from the web.

Pandas home page: https://pandas.pydata.org/

Pandas is not a web scraping library, but it can be used to scrape certain data from the web. We will use the `read_html` function to scrape data from a website and convert it into a DataFrame.

In [1]:
try:
    import pandas as pd
    # version
    print(f"Pandas version: {pd.__version__}")
except:
    print("Pandas is not installed. Please install it using 'pip install pandas'")

Pandas version: 2.2.3

In [2]:
pd.__version__

'2.2.3'

![Lapsiņa](https://raw.githubusercontent.com/mdn/beginner-html-site/gh-pages/images/firefox-icon.png)

In [3]:
# url = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/" 
# url = "https://www.ss.com/lv/real-estate/homes-summer-residences/riga-region/all/sell/"
# url = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/"
url = "https://www.ss.com/lv/real-estate/flats/riga/centre/hand_over/"
# notice how we can specify some parameters in the url
# these are so called pretty urls
# url stands for uniform resource locator
print(f"Will scrape {url}")

Will scrape https://www.ss.com/lv/real-estate/flats/riga/centre/hand_over/

In [ ]:
# !pip install "pandas[html]"
# need to do this only once per environment

Requirement already satisfied: pandas[html] in d:\github\python_rtu_2024_25\myvenv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in d:\github\python_rtu_2024_25\myvenv\lib\site-packages (from pandas[html]) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\github\python_rtu_2024_25\myvenv\lib\site-packages (from pandas[html]) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\github\python_rtu_2024_25\myvenv\lib\site-packages (from pandas[html]) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\github\python_rtu_2024_25\myvenv\lib\site-packages (from pandas[html]) (2025.2)
Collecting beautifulsoup4>=4.11.2 (from pandas[html])
  Downloading beautifulsoup4-4.13.4-py3-none-any.whl.metadata (3.8 kB)
Collecting html5lib>=1.1 (from pandas[html])
  Using cached html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Collecting lxml>=4.9.2 (from pandas[html])
  Downloading lxml-5.4.0-cp312-cp312-win_amd64.whl.metadata (3.6 kB)
Collecting soupsieve>1.2 (from beautifulsoup4>=4.11.2->pandas[html])
  Downloading soupsieve-2.7-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: typing-extensions>=4.0.0 in d:\github\python_rtu_2024_25\myvenv\lib\site-packages (from beautifulsoup4>=4.11.2->pandas[html]) (4.13.2)
Requirement already satisfied: six>=1.9 in d:\github\python_rtu_2024_25\myvenv\lib\site-packages (from html5lib>=1.1->pandas[html]) (1.17.0)
Collecting webencodings (from html5lib>=1.1->pandas[html])
  Using cached webencodings-0.5.1-py2.py3-none-any.whl.metadata (2.1 kB)
Downloading beautifulsoup4-4.13.4-py3-none-any.whl (187 kB)
Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Downloading lxml-5.4.0-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ------------------------ --------------- 2.4/3.8 MB 19.1 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 17.5 MB/s eta 0:00:00
Downloading soupsieve-2.7-py3-none-any.whl (36 kB)
Using cached webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Installing collected packages: webencodings, soupsieve, lxml, html5lib, beautifulsoup4
Successfully installed beautifulsoup4-4.13.4 html5lib-1.1 lxml-5.4.0 soupsieve-2.7 webencodings-0.5.1

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
# pandas can do some web scraping as long as there are tables
dfs = pd.read_html(url, header=0) # i know that i want the first row to server for column names
type(dfs)
# turns out pandas reads ALL tables from the page

list

In [7]:
# print how many tables we have
print(f"Tables: {len(dfs)}")
# well ss.com was made in early 2000s when tables were used for everything

Tables: 6

In [ ]:
# let's see MDN docs for tables: 
# https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table

In [ ]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_html.html
# pandas reads tables by default ALL tables on the page

In [8]:
df = dfs[4] # the 5th table on our page has our info
# df is very common variable name for Pandas DataFrames
# df = dfs[8] # 9th table for our riga region houses
df.head()

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,Stilīgs jauns dzīvoklis renovēta māja Rīgas ce...,Barona 92,2,32,1/3,Renov.,14.06 €,450 €/mēn.
1,NaN,NaN,"Luxury, everything luxury: Completely new, exc...",Stabu 18B,2,112,6/7,Jaun.,17.86 €,"2,000 €/mēn."
2,NaN,NaN,"Tiek izīrēts kvalitatīvi remontēts, gaišs 2-is...",Tallinas 47,2,49,3/5,P. kara,14.29 €,700 €/mēn.
3,NaN,NaN,"Quiet center, terrace, prestigious embassy dis...",Ausekļa 4,4,175,5/5,Renov.,17.14 €,"3,000 €/mēn."
4,NaN,NaN,Charming penthouse in the quiet center: Planni...,Dzirnavu 31,4,174,7/7,P. kara,16.09 €,"2,800 €/mēn."

### df.shape

shape let's us know how many rows and columns we have in our DataFrame.

In [9]:
print(f"Shape: {df.shape}")

Shape: (30, 10)

## Saving dataframe to various formats

Pandas offers to save the dataframe to various formats like CSV, Excel, SQL, JSON, HTML, etc. We will see how to save the dataframe to a CSV file.

In [11]:
df.to_json("center_may8.json", indent=4)

In [12]:
# now csv
df.to_csv("center_may8.csv", index=False)

In [13]:
df.to_excel("center_may8.xlsx")
# to have excel support you need to install pandas with 'pip install pandas[excel]'

In [10]:
url2 = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html"
print(f"Will scrape {url2}")

Will scrape https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html

In [ ]:
dflist = pd.read_html(url2, header=0) # this makes a request to the server on the internet here ss.com
len(dflist)

6

In [12]:
dflist[4].head() # getting start of 5th table from our 2nd html page

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,"Unikāls 3 stāvvīgs, 5 istabu dzīvoklis centrā ...",Ģertrūdes 5a,5,162,4/5,P. kara,"1,358 €","220,000 €"
1,NaN,NaN,Pārdošanā stilīgs dzīvoklis ar mūsdienīgo remo...,Dzirnavu 132,1,36,2/6,P. kara,"2,132 €","76,740 €"
2,NaN,NaN,Ekskluzīvs četru guļamistabu dzīvoklis Rīgas p...,Ausekļa 4,6,208,7/7,P. kara,"3,150 €","655,200 €"
3,NaN,NaN,Trīs guļamistabu penthouse dzīvoklis Rīgas pre...,Ausekļa 4,5,156,7/7,Specpr.,"2,564 €","400,000 €"
4,NaN,NaN,Pārdošanā 2-istabu dzīvoklis cokolstvā pašā Rī...,Ģertrūdes 103,2,52,1/6,P. kara,756 €,"39,300 €"

In [13]:
bigdf = pd.concat([df, dflist[4]]) # concat creates a new dataframe from an iterable! of dataframes
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html
bigdf.head()

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,Pārdošanā plašs trīs istabu dzīvoklis Rīgas Kl...,Antonijas 24,3,111,2/5,P. kara,"1,931 €","214,370 €"
1,NaN,NaN,"Attīstītājs tirgo divistabu dzīvokli, kas atro...",Alauksta 7,2,36,3/4,Renov.,"3,056 €","110,000 €"
2,NaN,NaN,Pārdod lielisku īpāšumu labākajā Rīgas daļā. D...,Ausekļa 11,3,97,6/6,Renov.,"2,155 €","209,000 €"
3,NaN,NaN,Renovēts dzīvoklis kapitāli rekonstruētā proje...,Sadovņikova 21,3,57,4/6,Renov.,"1,482 €","84,500 €"
4,NaN,NaN,Pārdodu unikālu trīsistabu dzīvokli pašā Rīgas...,Stabu 45,3,94,1/5,P. kara,697 €,"65,500 €"

In [14]:
df.shape, dflist[4].shape, bigdf.shape

((30, 10), (30, 10), (60, 10))

In [11]:
bigdf.to_excel("riga_center_60.xlsx")

In [13]:
# i could also save to csv
bigdf.to_csv("riga_center_60.csv")

In [ ]:
# so if we know the last page of

In [ ]:
# Challenge how to automatically get all pages no matter how many ads?
# how to scrape web address for each ad (in case we want to look in to the ad more in depth)

In [9]:
wiki_url = "https://en.wikipedia.org/wiki/List_of_cities_and_towns_in_Latvia"
wikis = pd.read_html(wiki_url, header=0)
len(wikis)

8

In [10]:
for wiki in wikis:
    print(wiki.head(1))

                                   City  Population (2013)[2]  \
0  Daugavpils pronunciation (help·info)                 93312

   Population (2019)[3]
0                 82604
                               Town  Population (2010)[2]  \
0  Ainaži pronunciation (help·info)                  1008

   Population (2018)[3]       Municipality[1]
0                   787  Limbaži Municipality
Empty DataFrame
Columns: [Unnamed: 0, Wikimedia Commons has media related to Cities in Latvia.]
Index: []
  .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteDefunct counties and districts of Latvia  \
0            Former counties (dissolved before 1949)

  .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteDefunct counties and districts of Latvia.1
0  Abrenes apriņķis‎ Aizputes apriņķis‎ Bauskas a...
                 vteTowns with town rights in Latvia  \
0  Ainaži Aizkraukle Aizpute Aknīste Aloja Alūksn...

               vteTowns with town rights in Latvia.1
0  Ainaži Aizkraukle Aizpute Aknīste Aloja Alūksn...
  vteList of places in Europe  \
0            Sovereign states

                       vteList of places in Europe.1
0  Albania Andorra Armenia Austria Azerbaijan Bel...
  vteLists of cities in Europe  \
0             Sovereign states

                      vteLists of cities in Europe.1
0  Albania Andorra Armenia Austria Azerbaijan Bel...
  vteList of towns in Europe  \
0           Sovereign states

                        vteList of towns in Europe.1
0  Albania Andorra Armenia Austria Azerbaijan Bel...

In [11]:
wikis[0].head()

,City,Population (2013)[2],Population (2019)[3]
0,Daugavpils pronunciation (help·info),93312,82604
1,Jelgava pronunciation (help·info),59511,55972
2,Jūrmala pronunciation (help·info),50840,49325
3,Liepāja pronunciation (help·info),76731,68945
4,Rēzekne pronunciation (help·info),32328,27820

In [13]:
wikis[1].head(5)

,Town,Population (2010)[2],Population (2018)[3],Municipality[1]
0,Ainaži pronunciation (help·info),1008,787,Limbaži Municipality
1,Aizkraukle pronunciation (help·info),8709,7489,Aizkraukle Municipality
2,Aizpute pronunciation (help·info),5104,4443,South Kurzeme Municipality
3,Aknīste pronunciation (help·info),1224,1078,Jēkabpils Municipality
4,Aloja pronunciation (help·info),1353,1197,Limbaži Municipality

## Scraping multiple pages

To scrape multiple pages from same source, we can use a loop to scrape data from each page save as individual dataframes and then concatenate them into a single dataframe.

### Sleep

It is important to sleep for a few seconds between requests to avoid getting blocked by the website.

In [12]:
# so we know that we want 5th table with index 4 for each page
# we have the base url for first page
# all other pages have the same url but with page number at the end page2.html, page3.html etc

# we can use f-strings to format our urls or simple concatenation
baseurl = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell"
lastpage = 31
# let's make a list of all pages starting from 2 and then to lastpage
urls = [baseurl] + [f"{baseurl}/page{i}.html" for i in range(2, lastpage+1)]
urls[:5]

['https://www.ss.com/lv/real-estate/flats/riga/centre/sell',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page3.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page4.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page5.html']

In [13]:
# now let's import time for sleep
import time

In [14]:
delay = 0.3 # we will wait 0.3 seconds between each page load
df_list = []
for url in urls:
    print(f"Loading {url}")
    df_list.append(pd.read_html(url, header=0)[4])
    time.sleep(delay)

# concatenate all dataframes
bigdf = pd.concat(df_list)
print(f"Shape: {bigdf.shape}")
# save to excel
bigdf.to_excel("riga_center_all_nov11.xlsx")
# head
bigdf.head() # first 5 rows

Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page3.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page4.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page5.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page6.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page7.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page8.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page9.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page10.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page11.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page12.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page13.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page14.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page15.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page16.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page17.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page18.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page19.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page20.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page21.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page22.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page23.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page24.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page25.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page26.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page27.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page28.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page29.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page30.html
Loading https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page31.html
Shape: (902, 10)

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,Trīs istabu dzīvoklis atrodas neorenesanses ar...,Baznīcas 26A,3,101,3/6,Renov.,"2,228 €","225,000 €"
1,NaN,NaN,"Pārdod plašu, ērta plānojuma 4-istabu dzīvokli...",Ģertrūdes 63,4,122,5/6,P. kara,"1,270 €","155,000 €"
2,NaN,NaN,"Īpašnieks pārdod gaišu, mājīgu divu istabu dzī...",Alauksta 9,2,74,3/6,Jaun.,"1,948 €","144,119 €"
3,NaN,NaN,Pārdod 2 istabu dzīvokli Eksporta ielā 10. Dzī...,Eksporta 10,2,32,1/5,Staļina,"1,823 €","58,320 €"
4,NaN,NaN,Divstāvu dzīvoklis ar terasi un skatu uz Dauga...,Eksporta 12,3,81,6/7,Staļina,"2,099 €","170,000 €"

## Conclusion

Pandas is a decent HTML table parser, but it is not as powerful as BeautifulSoup or Scrapy. If you need to scrape data from the web, you should use BeautifulSoup or Scrapy. However, if you are already familiar with Pandas and you only need to scrape a small amount of data, you can use Pandas to scrape data from the web given if data is in tabular format.

## TODO

- How would we obtain page numbers from first page?
- How would we obtain URL for indidual ads on page?